

#solapa-activa {
    color: #13a76b;
}

#solapa-cerrada {
    color: #6a6e71;
}

#solapa-cerrada:hover {
    color: #13a76b;    
}

#inscribirme {
    background-color: #13a76b;
    border: none;
}

#inscribirme:hover {
    transform: scale(1.1);
}

#descripción {
    padding: 25px;
}

.accordion-button {
    border-color: #13a76b;
}

.accordion-body {
    background-color: #8de4af;
}