body{
    background-color: #EDEAE5;
}

.oculto {
    display: none;
}


i{
   font-size: 50px;
   color: #6a6e71;
   border: transparent;
   transition: all 0.3s ease-in-out;
}

   
i:hover {
    transform: scale(1.5);}
    #btnMostrarMapa{
        border: transparent;
        background-color: transparent;}